@model Student_Management_System.Models.CourseRegistration

@{
    ViewData["Title"] = "New Course Registration";
}

<section class="content">
    <div class="container-fluid">
        @await Html.PartialAsync("_CourseRegistrationForm")
    </div>
</section>
